body {
    color       : #70777f;
    font-family : "Helvetica";
}

#frame {
    display : none
}

#app {
    position   : absolute;
    top        : 5px;
    left       : 5px;
    width      : 1024px;
    height     : 768px;
    background : #dbdee3;
}

#tray {
    width            : 1024px;
    height           : 20px;
    text-align       : center;
    color            : white;
    background       : black;
    background-image : url('tray.png');
}

#titles {
    position      : absolute;
    top           : 20px;
    width         : 1024px;
    height        : 43px;
    border-bottom : 1px solid #797f8f;
    font-size     : 16pt;
    font-weight   : bold;
    
}

#ali {
    width            : 300px;
    height           : 100%;
    text-align       : center;
    border-right     : 1px solid #797f8f;
    background-image : url('ali.png');
}

#state {
    position         : absolute;
    top              : 0px;
    left             : 301px;
    width            : 723px;
    height           : 100%;
    text-align       : center;
    background-image : url('state.png');
}

#state_text {
    position: relative;
    top: 8px;
}

.state_icon {
    position   : absolute;
    text-align : center;
    width      : 43px;
    height     : 43px;
}

#help {
    right : 46px;
}

#logout {
    right : 0px;
}

.state_icon > img {
    position : relative;
    top      : 2px;
    width    : 26px;
    height   : 26px;
}

.state_icon > p {
    position    : relative;
    top         : -14px;
    font-size   : 10pt;
    height      : 12px;
}

#nav_and_body {
    position : absolute;
    top      : 64px;
    width    : 1024px;
    height   : 704px;
}

#nav {
    width            : 300px;
    height           : 100%;
    border-right     : 1px solid #797f8f;
    background-image : url('nav.png');
    font-size        : 12pt;
}

#body {
    position         : absolute;
    top              : 0px;
    left             : 301px;
    width            : 723px;
    height           : 100%;
    background-image : url('body.png');
}

#body > p, #body > div > p, #body > div > div {
    margin-left : 1em;
}

#body > div {
    display : none;
}

.nav_header {
    width            : 300px;
    height           : 23px;
    background-image : url('nav-header.png');
    color            : white;
    font-weight      : bold;
}

.nav_header > .text {
    position : relative;
    top      : 1px;
    left     : 3px;
}

.nav_button {
    position         : relative;
    width            : 300px;
    height           : 44px;
    background-image : url('nav-button.png');
}

.nav_button.selected {
    background-image : url('nav-button-sel.png');
    color            : white;
}

.nav_button:hover:not(.selected) {
    background-image : url('nav-button-hi.png');
}

.nav_button > .icon {
    position : absolute;
    top      : 7px;
    left     : 9px;
}

.nav_button > .icon > img {
    width  : 26px;
    height : 26px;
}

.nav_button > .text {
    position : absolute;
    top      : 10px;
    left     : 44px;
}

#incr_search {
    width     : 253px;
    height    : 38px;
    font-size : 16pt;
}

#incr_search_clear {
    position : relative;
    top      : 13px;
    left     : -48px;
    width    : 40px;
    height   : 40px;
}

canvas {
    position : absolute;
    top      : 20px;
    right    : 6px;
    width    : 270px;
    height   : 660px;
}

#itemlist {
    position : relative;
    top      : 40px;
}

#itemlist > .item {
    position          : relative;
    width             : 412px;
    height            : 78px;
    background-image  : url('object.png');
    background-repeat : no-repeat;
}

#itemlist > .item > .icon {
    position : absolute;
    top      : 5px;
    left     : 10px;
    width    : 75px;
    height   : 75px;
}

#itemlist > .item > .text {
    position    : absolute;
    width       : 337px;
    height      : 75px;
    top         : 5px;
    left        : 76px;
    margin-left : 3px;
}

#itemlist > .item .description {
    position    : absolute;
    width       : 337px;
    height      : 37px;
    font-weight : bold;
    margin-top  : 6px;
}

#itemlist > .item .location {
    position    : absolute;
    top         : 38px;
    width       : 337px;
    height      : 37px;
    font-style : italic;
}

.selectable:not(input) {
    cursor : pointer;
}

#overlay_template {
    display : none;
}

.overlay {
    position      : fixed;
    z-index       : 1;
    top           : 150px;
    left          : 342px;
    width         : 640px;
    height        : 400px;
    background    : #0f0f0f;
    opacity       : 0.85;
    border-radius : 15px;
    box-shadow    : 10px 10px 5px #999;
}

.overlay > *:not(.close) {
    position : absolute;
    left     : 311px;
    color    : #999999;
}

.overlay > .close {
    position : absolute;
    top     : 8px;
    right   : 8px;
}

.overlay > .picture {
    border-radius : 15px;
    top           : 38px;
    left          : 51px;
    width         : 236px;
    height        : 230px;
}

.overlay > .description {
    top         : 36px;
    width       : 290px;
    text-align  : center;
    color       : #0571dc;
    font-size   : 18pt;
    font-weight : bold;
}

.overlay > .location {
    top      : 128px;
}

.overlay > .categories {
    top      : 190px;
}

.overlay .category {
    background    : #0571dc;
    color         : #0f0f0f;
    font-weight   : bold;
    border-radius : 5px;
}

.overlay > .info {
    top        : 326px;
    left       : 45px;
    font-style : italic;
}
