#na_overlay_template,
#help_overlay_template,
#stock_overlay_template,
#overlay_template {
    display : none;
}

.overlay {
    position      : fixed;
    z-index       : 1;
    top           : 150px;
    left          : 342px;
    width         : 640px;
    height        : 400px;
    background    : #0f0f0f;
    opacity       : 0.90;
    border-radius : 15px;
    box-shadow    : 10px 10px 5px #999;
}

.overlay > *:not(.close) {
    position : absolute;
    left     : 311px;
    color    : #999999;
}

.overlay > .close {
    position : absolute;
    top     : 8px;
    right   : 8px;
}

.overlay > .picture {
    background    : white;
    border-radius : 15px;
    top           : 38px;
    left          : 51px;
    width         : 236px;
    height        : 230px;
}

.overlay > .description {
    top         : 36px;
    width       : 290px;
    text-align  : center;
    color       : #0571dc;
    font-size   : 18pt;
    font-weight : bold;
}

.overlay > .location,
.overlay > .units {
    top      : 128px;
}

.overlay > .units > span {
    margin-left : 43px;
}

.overlay > .units > span:not(.urgent):not(.warning) {
    color : #080;
}

.overlay .urgent {
    color : #800 !important;
}

.overlay .warning {
    color : #880 !important;
}

.overlay > .categories {
    top      : 190px;
}

.overlay button,
.overlay .category {
    background    : #0571dc;
}

.overlay .help.title,
.overlay button,
.overlay > .units > span,
.overlay .category {
    color         : #0f0f0f;
    font-family   : inherit;
    font-weight   : bold;
    border        : none;
    border-radius : 5px;
    padding       : 2px;
}

.overlay > .info {
    top        : 326px;
    left       : 45px;
    font-style : italic;
}

.overlay > .option {
    position   : absolute;
    top        : 280px;
    left       : 0px;
    width      : 100%;
    font-style : italic;
    text-align : center;
}

.overlay > .buttons {
    position   : absolute;
    top        : 350px;
    left       : 160px;
    width      : 320px;
    text-align : center;
}

button {
    position    : absolute;
    cursor      : pointer;
}

.overlay .b_locate {
    left        : 5px;
}

.overlay .b_order {
    right       : 5px;
}

.overlay .disabled,
.overlay .b_order {
    opacity     : .3;
}

.overlay .b_stocks {
    position : absolute;
    top      : 339px;
    left     : 308px;
    color    : #0f0f0f;
}

.overlay > .na,
.overlay > .help.title {
    position   : absolute;
    left       : 5px;
    width      : 613px;
    color      : #0571dc;
    background : none;
    text-align : center;
}

.overlay > .help.contents {
    position      : absolute;
    left          : 5px;
    top           : 35px;
    width         : 613px;
    height        : 335px;
    padding-left  : 10px;
    padding-right : 10px;
    overflow      : auto;
    text-align    : justify;
}

.overlay > .na {
    top         : 145px;
    font-size   : 16pt;
    font-weight : bold;
}

#keyboard {
    display  : none;
    position : absolute;
    right    : 0px;
    bottom   : 0px;
}

.notifier {
    visibility    : hidden;
    display       : table;
    position      : fixed;
    z-index       : 2;
    width         : 200px;
    height        : 44px;
    left          : 562px;
    top           : 302px;
    overflow      : hidden;
    text-align    : center;
    background    : url('layout/nav-button-sel.png');
    border        : 1px solid black;
    border-radius : 10px;
    color         : white;
    font-weight   : bold;
}

.notifier p {
    display        : table-cell;
    vertical-align : middle;
    margin         : 0px;
    padding        : 2px;
}

.notifier.center {
    left        : 412px;
}

.notifier.center p {
    position : relative;
}
